.sidebar {
    font-weight: bolder;
    height: 100vh;
    background-color: #fff2d3;
    border-right: 1px solid #DCD4D4;
}

/* Style for sidebar items (links) */
.sidebar a {
    color: #000000;
    text-decoration: none;
    display: flex;
    padding: 10px;
}

.exppage{
    background: linear-gradient(to right, rgb(140, 239, 132), rgb(207, 236, 205), #fff2d3);
    border: 1px solid #FEE19D;
}

.row{
    padding-left: 10px;
}

.sidebar a i {
    margin-right: 10px;
    font-size: 1.5rem; /* Adjust the icon size as needed */
}

.sidebar .row:hover {
    background: linear-gradient(to right, rgb(140, 239, 132), rgb(207, 236, 205), #fff2d3);
    border: 1px solid #FEE19D;
}

.row-top{
    padding-top: 120px;
}

.sidebar .containerPic{
    height: 200px;
}

.sidebar .conSpacing{
    height: 300px;
}
