body {
    font-family: 'Amiri';

}

.narrow-input {
    width: 300px;
}

.btn-signin {
    width: 300px;
    color: black;
    background-color: #ADEF84;
}

.signin {
    align-items: center;
    width: 330px;
}

.col1 {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;

    align-items: center;
    justify-items: center;
}

.col2 {
    background-color: #FEE19D;
    height: 100vh;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.col2 img {
    height: 500px;
    width: 500px;
    align-items: center;
    justify-items: center;
}

.col2container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

::-webkit-input-placeholder {
    color: #ABABAB;
    font-style: italic;
}

.captcha iframe {
    border: .5px solid red;
    box-shadow: 0 0 5px 0 red;
}

.forgetpassword-container {
    width: 350px;
}

.consign {
    width: 350px;
}